
Taller1/Ejercicio1/db/Decoder.quiproj.8752.rdr.flock
/Laboratorio3/Code/db
Laboratorio3/Code/Battleship_tb.sv.bak
Laboratorio3/Code/NCounter.sv.bak
Laboratorio3/Code/Battleship.sv.bak
Laboratorio3/Code/StateMachine.sv.bak
Laboratorio3/Code/SevenSegment.sv.bak
Laboratorio3/Code/ShootCoordSelector.sv.bak
/Laboratorio3/Code/incremental_db
Laboratorio3/Code/Battleship_nativelink_simulation.rpt
Laboratorio3/Code/Multiplexor_tb.sv.bak
Laboratorio3/Code/output_files/Battleship.flow.rpt
Laboratorio3/Code/output_files/Battleship.map.rpt
/Laboratorio3/Code/output_files
/Laboratorio3/Code/simulation
Laboratorio3/Code/Multiplexor_tb.sv
Laboratorio3/Code/Multiplexor.sv.bak
Laboratorio3/Code/FrecDivider.sv.bak
Laboratorio3/Code/BattleshipBoard.sv.bak
Laboratorio3/Code/randomNumGenerator.sv.bak
Laboratorio3/Code/vgaController.sv.bak
Proyecto/regfile.sv.bak
Proyecto/output_files/proyecto.map.summary
Proyecto/output_files/proyecto.map.smsg
Proyecto/output_files/proyecto.map.rpt
Proyecto/output_files/proyecto.flow.rpt
Proyecto/output_files/proyecto.done
Proyecto/incremental_db/README
Proyecto/incremental_db/compiled_partitions/proyecto.db_info
Proyecto/db/proyecto.tmw_info
Proyecto/db/proyecto.smart_action.txt
Proyecto/db/proyecto.sld_design_entry_dsc.sci
Proyecto/db/proyecto.rtlv_sg_swap.cdb
Proyecto/db/proyecto.rtlv_sg.cdb
Proyecto/db/proyecto.pre_map.cdb
Proyecto/db/proyecto.pre_map.hdb
Proyecto/db/proyecto.rtlv.hdb
Proyecto/db/proyecto.map.rdb
Proyecto/db/prev_cmp_proyecto.qmsg
Proyecto/db/proyecto.(0).cnf.cdb
Proyecto/db/proyecto.(0).cnf.hdb
Proyecto/db/proyecto.ae.hdb
Proyecto/db/proyecto.cbx.xml
Proyecto/db/proyecto.cmp.rdb
Proyecto/db/proyecto.db_info
Proyecto/db/proyecto.db_info
Proyecto/db/proyecto.hier_info
Proyecto/db/proyecto.hif
Proyecto/db/proyecto.lpc.html
Proyecto/db/proyecto.lpc.rdb
Proyecto/db/proyecto.lpc.txt
Proyecto/db/proyecto.map.qmsg
Proyecto/alu.sv.bak
/Proyecto/db
/Proyecto/simulation
Proyecto/processor/proyecto.sv.bak
Proyecto/processor/condlogic.sv.bak
Proyecto/testbench/proyecto_tb.sv.bak
/Proyecto/greybox_tmp
Proyecto/greybox_tmp/cbx_args.txt
/Proyecto/greybox_tmp
Proyecto/processor/datapath.sv.bak
